.destination {
    background-image: url("./../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 200px;

    @media (max-width:1024px) {
        background-image: url("./../assets/destination/background-destination-tablet.jpg");
        padding-top: 100px;
    }

    @media(max-width:520px) {
        background-image: url("./../assets/destination/background-destination-mobile.jpg");
        padding-top: 50px;
    }

    &__image {
        margin-top: 100px;
        margin-bottom: 50px;

        @media (max-width:1024px) {
            width: 300px;
        }

        @media(max-width:520px) {
            width: 170px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        padding-left: 165px;
        padding-right: 165px;
        padding-bottom: 118px;

        @media (max-width:1300px) {
            padding-left: 0;
            padding-right: 0;
        }

        @media(max-width:1024px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;

        }

        @media(max-width:520px) {
            padding-bottom: 58px;
        }

    }


    h1 {
        position: absolute;
        top: 0;
        left: 163px;
        font-family: 'Barlow Condensed';
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 4.72px;
        color: white;
        display: inline-block;

        b {
            font-weight: 700;
            color: $dark-gray;
        }

        @media (max-width:1024px) {
            left: 39px;
            margin-top: 40px;
            font-size: 20px;
            letter-spacing: 3.38px;
        }

        @media (max-width:520px) {
            width: 100%;
            left: 0;
            text-align: center;
        }
    }

    &__list {
        display: flex;
        gap: 35px;

        a {
            position: relative;
            font-family: 'Barlow Condensed';
            letter-spacing: 2.7px;
            color: $light-blue;
            padding-bottom: 12px;
            cursor: pointer;
            border-bottom: 3px solid transparent;

            &:hover {
                color: white;
                border-bottom-color: white;
            }

            &.active {
                color: white;
                border-bottom-color: white;
            }


        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width:1024px) {
            align-items: center;
        }
    }

    &__title {
        text-transform: uppercase;
        font-family: 'Bellefair', serif;
        font-weight: 400;
        font-size: 100px;
        color: white;
        margin-top: 37px;

        @media (max-width:1024px) {
            font-size: 80px;
        }
    }

    &__description {
        font-family: 'Barlow';
        font-size: 18px;
        font-weight: 400;
        color: $light-blue;
        line-height: 32px;
        width: 444px;
        margin-top: 14px;
        margin-bottom: 28px;
        padding-bottom: 54px;
        border-bottom: 1px solid $dark-gray;

        @media (max-width:1024px) {
            width: 528px;
            text-align: center;
        }

        @media(max-width:520px) {
            width: 327px;
        }
    }

    &__stats {
        display: flex;
        gap: 79px;

        @media(max-width:520px) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        div {
            @media(max-width:1024px) {
                text-align: center;
            }
        }

        .label,
        .value {
            display: block;
            text-transform: uppercase;
        }

        .label {
            font-family: 'Barlow Condensed';
            font-size: 14px;
            color: $light-blue;
            letter-spacing: 2.36px;
            font-weight: 400;
            padding-bottom: 12px;
        }

        .value {
            font-family: 'Bellefair';
            font-size: 28px;
            color: white;
        }
    }
}