.header {
    nav {
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.55px);

        @media (max-width:700px) {
            position: absolute;
            top: 0;
            left: 120px;
            width: calc(100% - 120px);
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(81.55px);
            opacity: 0;
            transition: opacity .3s linear;
            visibility: hidden;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $dark-gray;
            height: 1px;
            width: 473px;
            top: 50%;
            left: -433px;

            @media (max-width:1400px) {
                display: none;
            }
        }
    }

    .open {
        opacity: 1;
        visibility: visible;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        padding-left: 55px;
        margin-top: 40px;

        @media (max-width:1100px) {
            margin-top: 0;
            padding-left: 39px;
        }

        @media (max-width:700px) {
            padding: 24px;
        }

    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        height: 96px;
        gap: 48px;
        padding-right: 165px;
        padding-left: 123px;


        @media(max-width:1100px) {
            padding-left: 39px;
            padding-right: 39px;
        }

        @media (max-width:700px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 118px;
            margin-left: 50px;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            border-bottom: 3px solid transparent;
            &:hover{
                border-bottom-color: white;
            }
            a {
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                color: white;
                letter-spacing: 2.7px;

                b {
                    font-weight: bold;
                }
            }
        }
    }

    &__toggle {
        z-index: 1;
        cursor: pointer;

        @media (min-width:700px) {
            display: none;
        }
    }
}