.landing {
    background-image: url("./../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 200px;

    @media (max-width:1100px) {
        background-image: url("./../assets/home/background-home-tablet.jpg");
        padding-top: 150px;
    }
    @media(max-width:520px){
        background-image: url("./../assets/home/background-home-mobile.jpg");
        padding-top: 100px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        width: 100%;
        padding-left: 165px;
        padding-right: 165px;
        padding-bottom: 200px;

        @media (max-width:1100px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__text {
        width: 445px;

        @media (max-width:1024px) {
            text-align: center;
        }

        @media (max-width:520px) {
            max-width: 327px;
        }
    }

    h2 {
        font-family: 'Barlow Condensed';
        font-size: 28px;
        letter-spacing: 4.72px;
        font-weight: 400;
        color: $light-blue;

        @media (max-width:1024px) {
            font-size: 20px;
            letter-spacing: 3.38px;
        }

        @media (max-width:520px) {
            font-size: 16px;
            letter-spacing: 2.7px;
        }
    }

    h1 {
        font-family: 'Bellefair';
        font-size: 150px;
        font-weight: 400;
        color: white;

        @media (max-width:520px) {
            font-size: 80px;
        }
    }

    p {
        font-family: 'Barlow';
        font-size: 18px;
        color: $light-blue;
        line-height: 32px;

        @media (max-width:520px) {
            line-height: 28px;
        }

        @media (max-width:520px) {
            font-size: 15px;
            line-height: 25px;
        }
    }

    a {
        font-family: 'Bellefair';
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 400;
        color: $dark;
        z-index: 1;
        margin: 20px;

        @media (max-width:520px) {
            font-size: 20px;
            letter-spacing: 1.25px;
        }

        &:hover .circle-with-text::before {
            width: 450px;
            height: 450px;

            @media (max-width: 1024px) {
                width: 390px;
                height: 390px;
            }

            @media (max-width:520px) {
                width: 240px;
                height: 240px;
            }
        }
    }
}

.circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width: 274px;
    height: 274px;
    background-color: white;
    position: relative;

    @media (max-width: 1024px) {
        width: 242px;
        height: 242px;
        margin-top: 81px;
    }

    @media (max-width:520px) {
        width: 150px;
        height: 150px;
        margin-top: 0;
    }

    &::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        left: 50%;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        transition: width .3s linear, height .3s linear;


    }

    &:hover::before {
        width: 450px;
        height: 450px;

        @media (max-width: 1024px) {
            width: 390px;
            height: 390px;
        }

        @media (max-width:520px) {
            width: 240px;
            height: 240px;
        }
    }
}